@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

body {
  font-family: "Concert One", cursive;
}
.btn-pink {
  background-color: #e685b5;
  text-align: center;
  color: white;
}

.warna {
  color: #e685b5;
}

.judul {
  font-family: "Righteous", cursive;
  font-size: 3em;
}

.layanan {
  background-color: #e685b5;
}

.sub-judul {
  text-align: center;
  font-family: "Righteous", cursive;
  font-size: 2em;
  color: white;
}
p {
  text-align: justify;
}

.hallo {
  animation: moveUpDown 2s ease-in-out infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
